*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;/* 1rem = 10px */
}
body{
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}
#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(image/national-park-1889553_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.banniere-titre{
    margin-bottom: 1rem;
}
#form{
    display: flex;
    align-items: center;
}
.field{
    margin: 1rem;
}
.field>select, input[type=date]{
    height: 6rem;
    width: 20rem;
}
button{
    width: 4rem;
    height: 4rem;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #e1a026;
    color: white;
}
.liste-resultats{
    display: flex;
}
.item{
    flex: 1;
    background-color: rgba(255, 255, 255, 0.724);
    color: black;
    margin: 2rem;
    padding: 2rem;
    border-radius: 5px;
}
.item-pays{
    font-weight: bold;
    text-transform: uppercase;
}