*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;/* 1rem = 10px */
}
body{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E2337;
}
.banniere-titre{
    margin-bottom: 1rem;
}